.wp-block-image,
.wp-block-gallery,
.wp-block-cover-image,
.wp-block-button,
.wp-block-table,
.wp-block-embed
{
    margin-bottom: 2.5rem !important;
}

.wp-block-cover-image.alignleft,
.wp-block-cover-image.alignright,
.wp-block-image.alignleft,
.wp-block-image.alignright,
.wp-block-gallery.alignleft,
.wp-block-gallery.alignright
{
	margin-top: 1rem;
	margin-bottom: 1rem !important;
}

.wp-block-button
{
	&.aligncenter
	{
	    margin-bottom: 1.5em;
	}
	
	a.wp-block-button__link
	{
		font-size: 13px;
		font-weight: bold;
		text-transform: uppercase;
	}
}

.wp-block-image
{
	margin-bottom: 1.5em;
	position: relative;

	figcaption
	{
		position: absolute;
	    bottom: 25px;
	    width: 180px;
	    padding: 15px 20px;
	    background: #333333;
	    margin: 0;
	    color: #999;
	    font-size: 14px;
	    line-height: 16px;
	    text-align: left;
	    right: -25px;
	}

	&.aligncenter
	{
		@media all and (max-width: 480px) {
	    	width: 100% !important;
	    	margin-left: 0;
    		margin-right: 0;

	    	img
			{
				width: 100% !important;
			}
		}
	}

	&.alignright,
	&.alignleft
	{
		@media all and (max-width: 480px) {
	    	width: 50% !important;

	    	img
			{
				width: 100% !important;
			}
		}
	}

	&.alignfull,
	&.alignwide
	{
		img
		{
			width: 100%;
		}
	}

	&.alignleft
	{
		figcaption
		{
		    left: -25px;
		    right: auto;
		}
	}
}

.entry-content
{
	.alignwide
	{
		@media #{$large-up}
		{
		    width: 75vw;
		    margin-left: 50%;
		    transform: translateX(-50%);
		}
	}

	.alignfull
	{
		width: 100vw;
		margin-left: 50%;
		transform: translateX(-50%);
	}
}

.wp-block-gallery
{
	margin-bottom: 1.5em;
	display: flex !important;

	@media all and (max-width: 480px) {
		margin-left: 0;
	    margin-right: 0;
	    width: 100% !important;
	    max-width: 100% !important;
	}
}

p.wp-block-subhead
{
	font-weight: bold;
	font-style: normal;
}

.wp-block-code code
{
	background: transparent;
	border: 0;
}

.wp-block-cover-image::-webkit-scrollbar
{ 
    display: none;
}

.wp-block-cover-image
{
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;

	&.has-parallax
	{
	    background-attachment: fixed;
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: contain;
	    overflow: scroll;
	}

	&.has-right-content
	{
		.wp-block-cover-image-text
		{
			position: absolute;
		}
	}

	&.has-left-content
	{
		.wp-block-cover-image-text
		{
			position: absolute;
		}
	}

	.wp-block-cover-image-text
	{
		font-weight: bold;
	}
}